h1 {
  color: #ef5f9a;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 600;
  height: 30px;
  line-height: 28px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #9874f3;
  font-size: 16px;
  font-weight: 300;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 10px inset #9874f3;
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -32px;
}

#footer {
  text-decoration: none;
}

#f-unit {
  text-decoration: none;
}
